html{
  direction: rtl;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  display: flex;
}
.homecontainer {
  flex: 8;
  display: flex;
  margin-right: 190px;
}
.sidebar {
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #12131c;
  flex: 1;
  min-height: 100vh;
  color: white;
  padding: 35px 3px;
  z-index: 300;
}

hr {
  height: 0;
  border: 0.5px solid rgb(230, 227, 227);
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 13px;
  }


li {
      padding: 10px 5px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
.icon {
      font-size: 9px;
      color: white;
      margin-left: 5px;
  }
  .iconNav {
    color: black;
  }

.sum {
  flex: 2;
  background-color: #f8f8f8;
  padding: 30px 30px 30px 20px;
}
.visualize {
  flex: 5;
}
.chart {
  height: 75%;
  transform: translateY(-15%);
}
.sumNum {
  display: flex;
  justify-content: space-between;
}
.percentage {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.percentage0 {
  background-color: #d7f7dc;
  color: #88d392;
}
.percentage1 {
  background-color: #ffd5d0;
  color: #eb7877;
}
.percentage2 {
  background-color: #fff8a0;
  color: #9f9b43;
}
.homecontainer span {
  font-size: 15px;
  color: #898d90;
}
.homecontainer p {
  font-size: 20px;
  font-weight: 600;
}
.sumItem {
  margin-bottom: 5px;
}
.navbarTop {
  display: flex;
  align-items: center;
  height: 50px;
  color: #555;
  font-size: 14px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
}
.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 20px;
}
.search {
  display: flex;
  align-items: center;
  padding: 3px;
  border: 0.5px solid lightgray;
}
.search input {
  border: none;
  outline: none;
  background-color: transparent;
}
.search input::placeholder {
  font-size: 11px;
}
.items {
  display: flex;
  align-items: center;
}
.item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  position: relative;
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.counter {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 3px;
}
.new {
  width: 100%;
  display: flex;
}
.newContainer {
  flex: 8;
  margin-right: 210px;
}
.table .image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}
.status {
  padding: 5px;
  border-radius: 5px;
}
.Approved {
  color: green;
  background-color: rgba(0, 128, 0, 0.151);
}
.Pending {
  color: goldenrod;
  background-color: rgba(189, 189, 3, 0.103);
}
.tableContainer, .detailsContainer {
  flex: 6;
  margin-right: 195px;
}
.right {
  width: 60%;
}
.left {
  width: 35%;
  position: fixed;
  height: 100vh;
  left: 0;
  padding: 20px 30px;
}
.detailsContainer p {
  font-size: 15px;
  font-weight: 500;
}
.detailsContainer span {
  color: rgb(146, 144, 144);
  font-size: 12px;
}
.formContainer input, select {
  margin-bottom: 15px;
}
.formContainer label {
  margin-bottom: 8px;
  font-size: 17px;
  color: rgb(95, 92, 92);
  
}
@media screen and (min-width: 990px) {
  body {
    overflow-x: hidden;
  }
}